.login{
    margin-top: 21%;
    margin-left: 25%;
    /* border: 2px solid darkgoldenrod; */
   /* background-image: url('../images/book_logo.jpg'); */
   background-color: #193149;
   border: 2px solid #556b84;
    width: 47%;
    height: 334px;
    padding-top: 81px;
}

.btn{
    margin-left: 145px;
    width: 130px;
    height: 38px;
}
h3{
    font-family: 'lobster';
    margin-top: -32px;
    margin-left: 146px;
    font-size: 31px;
    color: white;
}
#bookimg{
    height: 100%;
    width: 100%;
}
a{
    float: right;
    font-size: 16px;
    color: blueviolet;
}
.row{
    border: 1px solid black;
}
.libraryoption{
    height: 731px;
    width: 25%;
    background-color: #193149;
    color: lightgoldenrodyellow;
    padding: 57px;
    font-size: 19px
}
.addbook{
    height: 731px;
    width: 50%;
    background-color:#B0C4DE
}
  .teacheraAddBook{
    height: 391px;
    width: 100%;
    background-color: #B0C4DE;
    padding: 18px;
  }
  .teacherParentAddBook{
    width: 87%;
    margin-left: 20px;
    margin-top: 60px;
  }
.libraryquestion{
    height: 731px;
    width: 25%;
    background-color: #193149;
}
 #header{
    width: auto;
   
    height: 94px;
    background-color:black; 
 }
  #headerlogo{
    height: 105%;
    width: 242px;
    margin-left: 37px;
  }
  #srchbox{
    margin-left: 64px;
    height: 37px;
    width: 327px;
    padding: 18px;
    /* border: none; */
    border-radius: 100px;
  }
  #unamebind{
    margin-left: 55px;
    font-size: 23px;
    color:ghostwhite
  }
  i{
    margin-left: -40px;
    font-size: 19px;
    margin-top: 31px;
  }
  .imgg{
    height: 358px;
    padding: 5%;
    width: 255px;
  }
  .btn-danger{
    width: 100px;
    height: 38px;
  }
  .registration {
    margin-left: 213px;
    margin-top: 86px;
    background-color: #193149;
   border: 2px solid #556b84}
fieldset {
    border: 2px groove #ddd !important;
    padding: 27px !important;
    margin: 32px !important;
}
legend {
    font-size: 1.3em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: 122px;
    border-bottom: 0;
    color: aliceblue;
}
h4 {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    color: darkorange;
}
.heading{
    font-size: 37px;
    color:white;
    font-family: lobster;
}
label{
    color:aliceblue;
}
.libraryoptionCrudeView{
    color:white;
    font-size:19px;
    padding:71px;
}

#teacherRole a{
    font-size: 21px;
    position: absolute;
    color:lightgoldenrodyellow
}
 #gallery a{
    margin-top: 43px;
    position: absolute;
    font-size: 21px;
    color: lightgoldenrodyellow;
 }
  
  .album{
    width: 100%;
    height: 384px;
    margin-top: 31px;
  }
   
  .smallViewalbum{
    height: 200px;
    border: 1px solid black;
    margin-top: 25px;
    margin-left: -16px;
    width: 103%;
  }