      <div ng-controller="AlbumCtrl">
        <img src="//www.nganimate.org/img/angular-logo.png" alt="AngularJS Logo" class="angLogo" />
        <h2>AngularJS Powered Photo Album </h2>
        <div class="row">
          <div class="col-md-12"><img class="img-responsive album"  ng-src={{allBookName[1].image}}/>
              <!-- <div ng-repeat="l in allBookName">
                  <div class="col-md-6">
                    <a ui-sref={{l.category}}><img class="img-responsive imgg"  ng-src={{l.image}}/></a>
                  </div>
                </div> -->
            <!-- <div class="albumImage">
              <img ng-src="{{allBookName.image}}" alt="{{allBookName.description}}" />
            </div> -->
            <h3>{{allBookName[1].description}}</h3>
            <p class="badge"><span class="glyphicon glyphicon-star"></span>{{allBookName[1].stars}}</p>
            <select ng-model="categories" ng-options="category for category in imageCategories">
                <option value="">All</option>
              </select>
            <label for="select">Select a Rating:</label>
          </div>
        </div>
        
          <!-- End of Column -->
          <div class="col-md-12 smallViewalbum">
            <div class="wrapper">
              <ul class="list">
                <li ng-repeat="k in allBookName " >
                  <img ng-src="{{allBookName[k].image}}" alt="{{allBookName[k].description}}" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      
    
