
     
<div class='form-group col-xs-3 login panel-heading' ng-controller="loginCtrl">
        <h3 id="head">Online Library</h3>   
    <p>
       <label> USER_ID:</label>
<input type="text" id="uid" placeholder="enter user_id" ng-model="logusername" class="form-control input-lg"/>
    </p>
    <p>
       <label> PASSWORD:</label>
<input type="password" id='pwd' placeholder="enter password"  ng-model="logpassword" class="form-control input-lg"/>
    </p><br><br>
    <a href ng-click="register()">new user? click here to register</a>
<p>
    <button type="button" class="btn btn-success" ng-click="Login()">SignIn</button>

        
    
</p>
</div>